@import '../oom-3-mass/oom-3-mass.css';

/* GENERAL */
.blob {
    border-radius: 10vmin;
}
.mid.blob {
    width: 8vmin; height: 8vmin; top: -10vmin; left: -4vmin;
}
.left.blob {
    width: 5vmin; height: 5vmin; top: -7.5vmin; left: -6vmin;
}
.right.blob {
    width: 6.5vmin; height: 6.5vmin; top: -9.5vmin; left: 0vmin;
}

/* MAIN */
.wrap.weather-fair .main .blob { background: #fff; }
.wrap.weather-storm .main .blob { background: #999; }
.wrap.weather-lightning .main .blob { background: #333; }

/* SHADOW */
.shadow.weather-fair {
    background: #0004;
    box-shadow: #0004 0 0 4vmin 4vmin, var(--shadow-color) 0 0 4vmin 4vmin;
}
.shadow.weather-storm {
    background: #0009;
    box-shadow: #0009 0 0 4vmin 4vmin, var(--shadow-color) 0 0 4vmin 4vmin;
}
.shadow.weather-lightning {
    background: #000;
    box-shadow: #000 0 0 4vmin 4vmin, var(--shadow-color) 0 0 4vmin 4vmin;
}
