<div class="title">SweetMousse</div>

<template>
  <style>
    .outer { border: 2px solid blue; }
    p { color: red }
    h1 {
        position: relative;
        top: 0;
        right: 0;
        width: 80%;
        height: 80%;
        border-radius: 40%;
        text-align: center;
        color: blue;
        background: #c9f;
        border-top: 1% solid red;
        border-bottom: 1% solid blue;
        opacity: 0.7;
    }
  </style>
  <p>Sweet: HTML Imports Works!</p>
  Sweet Template Slots <slot name="my-text">do not work</slot>
</template>

<!-- Load the component’s script -->
<script type="module">
    import { Class } from './sweet-mousse.js'
</script>

<!-- <script src="./main.js"></script> -->
<!-- <script>
class SweetMousse extends BaseMousse {

    constructor() {
        super() // always call super first in constructor

        //// Create a shadow root accessible by JS running in the main context.
        const shadow = this.attachShadow({mode:'open' })

        //// Create CSS to apply to the shadow DOM.
        const style = document.createElement('style')

        //// Create an inner element and attach it to the shadow DOM.
        //// You could create and add a <style> element here.
        const inner = document.createElement('h1')
        inner.setAttribute('class', 'inner')
        inner.innerHTML = `ok!`
        shadow.appendChild(inner)

        //// ...?
        const link = document.querySelector('link[rel="import"][href$="sweet-mousse.html"]')
        const content = link.import
        const template = content.querySelector('template')
        const templateContent = template.content
        shadow.appendChild( templateContent.cloneNode(true) )
    }


    //// The custom element is first connected to the document's DOM.
    connectedCallback() { console.log('connectedCallback()');
    }

    //// The custom element is disconnected from the document's DOM.
    disconnectedCallback() { console.log('disconnectedCallback()');
    }

    //// The custom element is moved to a new document.
    adoptedCallback() { console.log('adoptedCallback()');
    }

    //// One of the custom element's attributes is added, removed, or changed.
    //// For this to work, tou have to observe the attributes, eg:
    ////  static get observedAttributes() {return ['w', 'l']; }
    attributeChangedCallback() { console.log('attributeChangedCallback()');
    }


}//SweetMousse

window.customElements.define('sweet-mousse', SweetMousse, { extends:'div' })
</script> -->
