<!--
A gameplay area, usually containing a prevailing wind.
1. Define the #oom-3-location template
2. Load a JS module defining:
  - The Oom3Location class
  - The <oom-3-location> custom element
-->


<!-- 1. Define the #oom-3-location template -->
<template id="oom-3-location">

  <!-- Oom styles use the same inheritance hierarchy as the Oom classes -->
  <link rel="stylesheet" href="../../components/oom-3-location/oom-3-location.css">

  <div class="wrap">
    <div class="hitzone"></div>
    <div class="main">
      <div class="mid"></div>
      <div class="n lug"></div>
      <div class="e lug"></div>
      <div class="s lug"></div>
      <div class="w lug"></div>
    </div>
    <div class="silhouette"></div>
    <div class="surround"></div>
  </div>
  <div class="ground">
    <div class="shadow"></div>
    <div class="marker"></div>
  </div>

</template>


<!-- 2. Load a JS module defining the class and custom element -->
<script type="module" src="./Oom3Location.js"></script>

<!-- Redo the line above for browsers without native ‘HTML Imports’ support -->
<script>((d,f)=>d.head.appendChild(Object.assign(d.createElement('script'),{type
:'module',src:d.querySelector(`link[rel="import"][href$="${f}"]`).href.replace(f
,'oom-3-location/Oom3Location.js')})))(document,'oom-all.html')</script>
