/* LANDSCAPE FOR game.html */

.game-square {
    background: linear-gradient(#c9f, #ecf 15%, #acb 16%, #cfd 75%);
    perspective-origin: 50% -10%;
    perspective: 80vmin;
}

#clearing {
    position: absolute;
    width: 96vmin;
    height: 96vmin;
    background: #f0c;
    transform-origin: center;
    transform: translate3d(0,24vmin,-48vmin) rotateX(90deg);
}
