/* BALLOON FOR game.html */

#me {
    transform: translate3d(0,72vmin,-48vmin);
}

#me >div {
    position: absolute;
    transition: transform 0.5s;
}

#me .top.canopy {
    width: 10vmin;
    height: 5vmin;
    margin: -12vmin 0 0 -5vmin;
    background: radial-gradient(ellipse at 50% 30%, #fc6 25%, #f90 80%);
    border-radius: 4.5vmin 4.5vmin 0.5vmin 0.5vmin;
}
#me .bottom.canopy {
    width: 10vmin;
    height: 5vmin;
    margin: -7vmin 0 0 -5vmin;
    background: radial-gradient(ellipse at 50% 30%, #f30 25%, #900 80%);
    border-radius: 0.5vmin 0.5vmin 4.5vmin 4.5vmin;
}
#me .basket {
    width:  5vmin;
    height: 3vmin;
    margin: -1vmin 0 0 -2.5vmin;
    background: linear-gradient(#ca9 25%, #963 80%);
    border-radius: 0.5vmin;
}
