<!--
A fluffy cloud, to hide your balloon behind.
1. Define the #oom-3-cloud template
2. Load a JS module defining:
  - The Oom3Cloud class
  - The <oom-3-cloud> custom element
-->


<!-- 1. Define the #oom-3-cloud template -->
<template id="oom-3-cloud">

  <!-- Oom styles use the same inheritance hierarchy as the Oom classes -->
  <link rel="stylesheet" href="components/oom-3-cloud/oom-3-cloud.css">

  <div class="wrap" tabindex="1">
    <div class="hitzone">
      <div class="left blob"></div>
      <div class="mid blob"></div>
      <div class="right blob"></div>
    </div>
    <div class="main">
      <div class="left blob"></div>
      <div class="mid blob"></div>
      <div class="right blob"></div>
    </div>
    <div class="silhouette">
      <div class="left blob"></div>
      <div class="mid blob"></div>
      <div class="right blob"></div>
    </div>
    <div class="surround">
      <div class="left blob"></div>
      <div class="mid blob"></div>
      <div class="right blob"></div>
    </div>
  </div>
  <div class="ground">
    <div class="shadow"></div>
    <div class="marker"></div>
  </div>

</template>


<!-- 2. Load a JS module defining the class and custom element -->
<script type="module" src="./Oom3Cloud.js"></script>

<!-- Redo the line above for browsers without native ‘HTML Imports’ support -->
<script>((d,f)=>d.head.appendChild(Object.assign(d.createElement('script'),{type
:'module',src:d.querySelector(`link[rel="import"][href$="${f}"]`).href.replace(f
,'oom-3-cloud/Oom3Cloud.js')})))(document,'oom-all.html')</script>
