<!--
A fluffy cloud, to hide your balloon behind.
1. Define the #oom-3-cloud template
2. Load a JS module defining:
  - The Oom3Cloud class
  - The <oom-3-cloud> custom element
-->


<!-- 1. Define the #oom-3-cloud template -->
<template id="oom-3-cloud">
  <style>

    /* GENERAL */
    .blob {
        border-radius: 10vmin;
    }
    .mid.blob {
        width: 8vmin; height: 8vmin; top: -10vmin; left: -4vmin;
    }
    .left.blob {
        width: 5vmin; height: 5vmin; top: -7.5vmin; left: -6vmin;
    }
    .right.blob {
        width: 6.5vmin; height: 6.5vmin; top: -9.5vmin; left: 0vmin;
    }

    /* MAIN */
    .wrap.weather-fair .main .blob { background: #fff; }
    .wrap.weather-storm .main .blob { background: #999; }
    .wrap.weather-lightning .main .blob { background: #333; }

    /* SHADOW */
    .shadow.weather-fair {
        background: #0004;
        box-shadow: #0004 0 0 4vmin 4vmin, var(--shadow-color) 0 0 4vmin 4vmin;
    }
    .shadow.weather-storm {
        background: #0009;
        box-shadow: #0009 0 0 4vmin 4vmin, var(--shadow-color) 0 0 4vmin 4vmin;
    }
    .shadow.weather-lightning {
        background: #000;
        box-shadow: #000 0 0 4vmin 4vmin, var(--shadow-color) 0 0 4vmin 4vmin;
    }

  </style>

  <div class="wrap" tabindex="1">
    <div class="hitzone">
      <div class="left blob"></div>
      <div class="mid blob"></div>
      <div class="right blob"></div>
    </div>
    <div class="main">
      <div class="left blob"></div>
      <div class="mid blob"></div>
      <div class="right blob"></div>
    </div>
    <div class="silhouette">
      <div class="left blob"></div>
      <div class="mid blob"></div>
      <div class="right blob"></div>
    </div>
    <div class="surround">
      <div class="left blob"></div>
      <div class="mid blob"></div>
      <div class="right blob"></div>
    </div>
  </div>
  <div class="ground">
    <div class="shadow"></div>
    <div class="marker"></div>
  </div>

</template>


<!-- 2. Load a JS module defining the class and custom element -->
<script type="module" src="./Oom3Cloud.js"></script>

<!-- Redo the line above for browsers without native ‘HTML Imports’ support -->
<script>((d,f)=>d.head.appendChild(Object.assign(d.createElement('script'),{type
:'module',src:d.querySelector(`link[rel="import"][href$="${f}"]`).href.replace(f
,'oom-3-cloud/Oom3Cloud.js')})))(document,'oom.html')</script>
