<!--
A fluffy cloud, to hide your balloon behind.
1. Define the #oom-3-cloud template
2. Load a JS module defining:
  - The Oom3Cloud class
  - The <oom-3-cloud> custom element
-->


<!-- 1. Define the #oom-3-cloud template -->
<template id="oom-3-cloud">
  <style>
    div {
        position: absolute;
    }

    .main {
        /* border-top-color: transparent; */
    }
    .blob {
        width: 8vmin; height: 8vmin; top: -10vmin; left: -4vmin;
        border-radius: 4vmin;
    }
    .left.blob {
        width: 5vmin; height: 5vmin; top: -7.5vmin; left: -6vmin;
    }
    .right.blob {
        width: 6.5vmin; height: 6.5vmin; top: -9.5vmin; left: 0vmin;
    }
    .main.weather-fair .blob { background: #fff; }
    .main.weather-storm .blob { background: #999; }
    .main.weather-lightning .blob { background: #333; }


  </style>

  <div class="main marker-none weather-fair">
    <div class="left blob"></div>
    <div class="mid blob"></div>
    <div class="right blob"></div>
  </div>

</template>


<!-- 2. Load a JS module defining the class and custom element -->
<script type="module" src="./Oom3Cloud.js"></script>

<!-- Redo the line above for browsers without native ‘HTML Imports’ support -->
<script>((d,f)=>d.head.appendChild(Object.assign(d.createElement('script'),{type
:'module',src:d.querySelector(`link[rel="import"][href$="${f}"]`).href.replace(f
,'oom-3-cloud/Oom3Cloud.js')})))(document,'oom.html')</script>



<!--
    .back-left {
        width: 2vmin; height: 2vmin;
        background: blue;
        transform: translate3d(0vmin,72vmin,-96vmin);
    }
    .back-right {
        width: 2vmin; height: 2vmin;
        background: red;
        transform: translate3d(96vmin,72vmin,-96vmin);
    }
    .front-left {
        width: 2vmin; height: 2vmin;
        background: green;
        transform: translate3d(0vmin,72vmin,0vmin);
    }
    .front-right {
        width: 2vmin; height: 2vmin;
        background: yellow;
        transform: translate3d(96vmin,72vmin,0vmin);
    }
...
  <div class="back-left"></div>
  <div class="back-right"></div>
  <div class="front-left"></div>
  <div class="front-right"></div>

-->
