<!--
A hot air balloon, to play hide and seek with.
1. Define the #oom-3-balloon template
2. Load a JS module defining:
  - The Oom3Balloon class
  - The <oom-3-balloon> custom element
-->


<!-- 1. Define the #oom-3-balloon template -->
<template id="oom-3-balloon">

  <!-- Oom styles use the same inheritance hierarchy as the Oom classes -->
  <link rel="stylesheet" href="components/oom-3-balloon/oom-3-balloon.css">

  <div class="wrap" tabindex="1">
    <div class="hitzone">
      <div class="upper canopy"></div>
      <div class="lower canopy"></div>
      <div class="basket"></div>
    </div>
    <div class="main">
      <div class="upper canopy"></div>
      <div class="lower canopy"></div>
      <div class="basket"></div>
    </div>
    <div class="silhouette">
      <div class="upper canopy"></div>
      <div class="lower canopy"></div>
      <div class="basket"></div>
    </div>
    <div class="surround">
      <div class="upper canopy"></div>
      <div class="lower canopy"></div>
      <div class="basket"></div>
    </div>
  </div>
  <div class="ground">
    <div class="shadow"></div>
    <div class="marker"></div>
  </div>

</template>


<!-- 2. Load a JS module defining the class and custom element -->
<script type="module" src="./Oom3Balloon.js"></script>

<!-- Redo the line above for browsers without native ‘HTML Imports’ support -->
<script>((d,f)=>d.head.appendChild(Object.assign(d.createElement('script'),{type
:'module',src:d.querySelector(`link[rel="import"][href$="${f}"]`).href.replace(f
,'oom-3-balloon/Oom3Balloon.js')})))(document,'oom-all.html')</script>
