<!--
1. Import ‘white-cloud.html’ and ‘thunder-cloud.html’
2. Define the #base-cloud template (slotted structure and style)
3. Load a JS module defining the <base-cloud> custom element
-->


<!-- 1. Import ‘white-cloud.html’ and ‘thunder-cloud.html’ -->
<link rel="import" href="./white-cloud.html">
<!-- <link rel="import" href="./thunder-cloud.html"> -->


<!-- 2. Define the #base-component template (slotted structure and style) -->
<template id="base-cloud">
  <style>
    .wrap {
        width: 1000px; height: 1000px;
        transform-origin:0 0;
        transform: scale(0.5);
        background: #3c9;
    }
    .bowl, .mask, .food, .shade {
        position: absolute; box-sizing: border-box;
        animation: hue-cycle 10s ease-in infinite
    }
    .bowl {
        width: 800px; height: 450px; top: 500px; left: 100px;
        border-bottom: 10px solid #000;
        border-radius: 20px 20px 350px 350px;
        box-shadow:
            inset #301  0 -5px 25px 10px
          , inset #f096 0 20px 50px 20px
        ;
        background:
            radial-gradient(circle at 550px 50px
              , #fff9 0%, #fff0 40%, #fff0 50%
              , #fff 70%, #fff 75%, #fff0 76%
              , #fff0 100%
            )
        ;
    }
    .mask {
        width: 700px; height: 800px; bottom: 100px; left: 150px;
        border-radius: 250px 450px 0 0;
        overflow: hidden;
        animation:
            being-eaten 10s ease-in infinite
          , wobble 2.5s ease-in infinite
        ;
    }
    .food {
        width: 700px; height: 800px; bottom: 0; left: 0;
        border-radius: 0 0 300px 300px;
        background: linear-gradient(#f9f, #f39);
        background:
            radial-gradient(ellipse at 70% 100%, #f060 15%, #c39 40%, #00f0 55%)
          , radial-gradient(ellipse at 10%  50%, #f390  5%, #93f 45%, #f030 70%)
          , linear-gradient(#f9f, #f39)
        ;
    }
    .shade {
        width: 300px; height: 300px; bottom: -100px; left: 350px;
        background: #000;
        border-radius: 150px;
        box-shadow:
            #000 0 0 100px 50px
          , #603 0 0 200px 100px
        ;
        transform: scaleY(0.1);
    }
    @keyframes wobble {
          0% { border-radius: 300px 400px 0 0; }
          5% { border-radius: 400px 300px 0 0; }
         10% { border-radius: 300px 400px 0 0; }
         15% { border-radius: 375px 325px 0 0; }
         20% { border-radius: 340px 360px 0 0; }
         25% { border-radius: 355px 345px 0 0; }
         30% { border-radius: 350px 350px 0 0; }

         95% { border-radius: 350px 350px 0 0; }
        100% { border-radius: 250px 450px 0 0; }
    }
    @keyframes being-eaten {
          0% { height: 800px; }
         20% { height: 800px; }
         25% { height: 650px; }
         45% { height: 650px; }
         50% { height: 450px; }
         70% { height: 450px; }
         75% { height: 200px; }
         95% { height: 200px; }
        100% { height: 800px; }
    }
    @keyframes hue-cycle {
          0%   { filter: hue-rotate(0deg); }
         12.5% { filter: hue-rotate(0deg) saturate(2); }
         25%   { filter: hue-rotate(22deg) saturate(2); }
         37.5% { filter: hue-rotate(22deg); }
         50%   { filter: hue-rotate(-10deg); }
         62.5% { filter: hue-rotate(-10deg) saturate(2); }
         75%   { filter: hue-rotate(-45deg) saturate(2); }
         87.5% { filter: hue-rotate(-45deg); }
        100%   { filter: hue-rotate(0deg); }
    }
  </style>
  <div class="wrap">
    <div class="shade"></div>
    <div class="mask">
      <div class="food"></div>
    </div>
    <div class="bowl"></div>
  </div>
</template>


<!-- 3. Load a JS module defining the <base-cloud> custom element -->
<script type="module" src="./BaseCloud.js"></script>

<!-- Redo the line above for browsers without native ‘HTML Imports’ support -->
<script>document.head.appendChild(Object.assign(document.createElement('script')
,{type:'module',src:'./components/cloud/BaseCloud.js'}))</script>
