<!DOCTYPE HTML><html lang="en-GB">
<head><meta charset="utf-8">
<title>Cross-Browser Templates, Shadow DOM and Custom Elements - WITHOUT polyfill</title>

<!-- Define a template with style and slots -->
<template id="base-custom-template">
  <style>
    p { color: red }
    h4 { color: blue }
    *[slot] { font-style: italic; }
  </style>
  <p>A red paragraph. <slot name="first-slot">BROKEN!</slot></p>
  <h4>A blue H4. <slot name="second-slot">BROKEN!</slot></h4>
</template>

</head><body>

<h4>An Example of Cross-Browser Templates, Shadow DOM and Custom Elements - WITHOUT polyfill</h4>

<p>All text on this page should be black, except:</p>

<base-custom-element>
  <span slot="first-slot">First slot works</span>
  <span slot="second-slot">Second slot works</span>
</base-custom-element>

<base-custom-element>
  <span slot="first-slot">First slot works again</span>
  <span slot="second-slot">Second slot works again</span>
</base-custom-element>

<script>{
customElements.define('base-custom-element',
    class extends HTMLElement {
        constructor() {
            super()
            const c = document.querySelector('#base-custom-template').content
            this.attachShadow({ mode:'open' }).appendChild( c.cloneNode(true) )
        }
    }
)
}</script>


</body></html>
