<!DOCTYPE HTML><html lang="en-GB">
<head><meta charset="utf-8">
<title>Cross-Browser Templates, Shadow DOM and Custom Elements - WITH polyfill</title>

<!-- Polyfill Web Components for legacy browsers -->
<script src="../../asset/js/webcomponents-lite.js"></script>

<!-- Define a template with style and slots -->
<template id="base-custom-template">
  <p>A red paragraph. <slot name="first-slot">BROKEN!</slot></p>
  <h4>A blue H4. <slot name="second-slot">BROKEN!</slot></h4>
  <style>
    p { color: red }
    h4 { color: blue }
    slot { font-style: italic; }
    h4 {
        animation: move 2s linear infinite;
    }
    @keyframes move {
          0% { transform: translateX(0px); }
        100% { transform: translateX(10px); }
    }
  </style>
</template>

</head><body>

<h4>An Example of Cross-Browser Templates, Shadow DOM and Custom Elements - WITH polyfill</h4>

<p>All text on this page should be black, except:</p>

<base-custom-element>
  <span slot="first-slot">First slot works</span>
  <span slot="second-slot">Second slot works</span>
</base-custom-element>

<base-custom-element>
  <span slot="first-slot">First slot works again</span>
  <span slot="second-slot">Second slot works again</span>
</base-custom-element>

<script>{
customElements.define('base-custom-element',
    class extends HTMLElement {
        constructor() {
            super()
            const c = document.querySelector('#base-custom-template').content
            const $style = document.createElement('style')
            $style.innerHTML = `
    h4 {
        animation: move 2s linear infinite;
    }
    @keyframes move {
          0% { transform: translateX(0px); }
        100% { transform: translateX(10px); }
    }

            `
            c.appendChild($style)
            this.attachShadow({ mode:'open' }).appendChild( c.cloneNode(true) )
        }
    }
)
}</script>


</body></html>
