<!DOCTYPE HTML><html lang="en-GB">
<head><meta charset="utf-8">
<title>Cross-Browser Web Components - with just the ‘HTML Imports’ polyfill</title>

<!-- Polyfill HTML Imports for legacy browsers -->
<script src="../../asset/js/webcomponents-hi.js"></script>

<!--
Import ‘base-component.html’ which will:
1. Import ‘sub-component.html’
2. Define the #base-component template (slotted structure and style)
3. Load a JS module defining the <base-component> custom element
-->
<link rel="import" href="./base-component.html">

<!-- <script type="module" src="./BaseComponent.js"></script> -->

</head><body>

<h4>An Example of Cross-Browser Web Components - with just the ‘HTML Imports’ polyfill</h4>

<p>All text on this page should be black, except:</p>


<!-- Use the components -->
<base-component>
  <span slot="first-slot">First slot works</span>
  <span slot="second-slot">Second slot works</span>
</base-component>

<base-component>
  <span slot="first-slot">First slot works again</span>
  <span slot="second-slot">Second slot works again</span>
</base-component>

<sub-component>
  <span slot="first-slot">First slot works</span>
  <span slot="second-slot">Second slot works</span>
</sub-component>

<sub-component>
  <span slot="first-slot">First slot works again</span>
  <span slot="second-slot">Second slot works again</span>
</sub-component>


</body></html>
