@import '../oom-3-mass/oom-3-mass.css';

/* GENERAL */
.canopy {
    width: 10vmin; height: 5vmin;
}
.upper.canopy {
    top: -16vmin; left: -5vmin;
    border-radius: 4.5vmin 4.5vmin 0.5vmin 0.5vmin;
}
.lower.canopy {
    top: -11vmin; left: -5vmin;
    border-radius: 0.5vmin 0.5vmin 4.5vmin 4.5vmin;
}
.basket {
    width: 5vmin; height: 3vmin; top: -5vmin; left: -2.5vmin;
    border-radius: 0.5vmin;
}

/* HITZONE */
.hitzone .upper.canopy {
    border-radius: 6.5vmin 6.5vmin 0 0;
}
.hitzone .lower.canopy {
    border-radius: 0 0 6.5vmin 6.5vmin;
}
.hitzone .basket {
    border-radius: 0;
}

/* MAIN */
.wrap.upper-yellow .main .upper.canopy, .wrap.lower-yellow .main .lower.canopy {
    background: radial-gradient(ellipse at 50% 30%, #fc6 25%, #f90 80%); }
.wrap.upper-white .main .upper.canopy, .wrap.lower-white .main .lower.canopy {
    background: radial-gradient(ellipse at 50% 30%, #eef 25%, #ccd 80%); }
.wrap.upper-blue .main .upper.canopy, .wrap.lower-blue .main .lower.canopy {
    background: radial-gradient(ellipse at 50% 30%, #09f 25%, #03c 80%); }
.wrap.upper-red .main .upper.canopy, .wrap.lower-red .main .lower.canopy {
    background: radial-gradient(ellipse at 50% 30%, #f30 25%, #600 80%); }
.wrap.upper-purple .main .upper.canopy, .wrap.lower-purple .main .lower.canopy {
    background: radial-gradient(ellipse at 50% 30%, #90c 25%, #309 80%); }
.wrap.upper-green .main .upper.canopy, .wrap.lower-green .main .lower.canopy {
    background: radial-gradient(ellipse at 50% 30%, #0f3 25%, #060 80%); }
.wrap.upper-black .main .upper.canopy, .wrap.lower-black .main .lower.canopy {
    background: radial-gradient(ellipse at 50% 30%, #333 25%, #000 80%); }
.main .basket {
    background: linear-gradient(#ca9 25%, #963 80%);
}

/* SHADOW */
.shadow {
    box-shadow: var(--shadow-color) 0 0 3vmin 3vmin;
}
