<!DOCTYPE HTML><html lang="en-GB">
<head><meta charset="utf-8">
<title>Oom3 Demo</title>

<style>
    body {
        margin: 0;
        font: 18px Arial;
        color: #123;
    }
</style>

<!-- Polyfill ‘HTML Imports’ for legacy browsers -->
<script src="../../asset/js/webcomponents-lite.js"></script>

<!-- Import ‘oom-all.html’ which will load each <oom-*> component -->
<link rel="import" href="../oom-all.html">

</head><body>


<div>

  <!-- Use the component -->
  <oom title="Doesn’t do much ;-)"></oom>

<h1 style="position:absolute; width:100%; text-align:center; z-index:99">
  Oom Demo
</h1>

</body></html>
