<!--
The base Oom custom element, which all others extend.
1. Define the #oom template
2. Load a JS module defining:
  - The Oom class
  - The <oom-base> custom element
-->


<!-- 1. Define the #oom template -->
<template id="oom">

  <div class="wrap"><!-- contains the main visuals -->
    <div class="main"></div><!-- the main visual element -->
  </div>

</template>


<!-- 2. Load a JS module defining the class and custom element -->
<script type="module" src="./oom.js"></script>

<!-- Redo 2. for browsers without native ‘HTML Imports’ support, eg Safari -->
<script>((d,f)=>d.head.appendChild(Object.assign(d.createElement('script'),{type
:'module',src:d.querySelector(`link[rel="import"][href$="${f}"]`).href.replace(f
,'oom/oom.js')})))(document,'oom-all.html')</script>
