<!--
A generic 3D container, which all visible 3D objects should extend.
1. Define the #oom-3 template
2. Load a JS module defining:
  - The Oom3 class
  - The <oom-3> custom element
-->


<!-- 1. Define the #oom-3 template -->
<template id="oom-3">

  <!-- Styles will be inherited by components which extend this one -->
  <style>
    div {
        position: absolute;
    }
    .main {
        width: 0; height: 0; margin: -2vmin 0 0 -1vmin;
        cursor: pointer;
        transition: transform 0.5s;
        border-width: 0;
        border-top: 2vmin solid transparent;
        border-left: 1vmin solid transparent;
        border-right: 1vmin solid transparent;
    }
    .main.marker-red   { border-top-color: #f00; }
    .main.marker-green { border-top-color: #0f0; }
    .main.marker-blue  { border-top-color: #00f; }
  </style>

  <div class="main marker-none"></div>

</template>


<!-- 2. Load a JS module defining the class and custom element -->
<script type="module" src="./Oom3.js"></script>

<!-- Redo the line above for browsers without native ‘HTML Imports’ support -->
<script>((d,f)=>d.head.appendChild(Object.assign(d.createElement('script'),{type
:'module',src:d.querySelector(`link[rel="import"][href$="${f}"]`).href.replace(f
,'oom-3/Oom3.js')})))(document,'oom.html')</script>
