<!--
A generic 3D container, which all visible 3D elements should extend.
1. Define the #oom-3 template
2. Load a JS module defining:
  - The Oom3 class
  - The <oom-3> custom element
-->


<!-- 1. Define the #oom-3 template -->
<template id="oom-3">

  <div class="wrap"><!-- contains the main visuals -->
    <div class="main"></div><!-- the main visual element -->
  </div>

</template>


<!-- 2. Load a JS module defining the class and custom element -->
<script type="module" src="./oom-3.js"></script>

<!-- Redo 2. for browsers without native ‘HTML Imports’ support, eg Safari -->
<script>((d,f)=>d.head.appendChild(Object.assign(d.createElement('script'),{type
:'module',src:d.querySelector(`link[rel="import"][href$="${f}"]`).href.replace(f
,'oom-3/oom-3.js')})))(document,'oom-all.html')</script>
